{
  "presets": [
    "react",
    ["env", {
        "targets": {
            "browsers": "last 2 versions"
        }
    }]
  ],
  "plugins": [
    ["module-resolver", {
        "root": ["web/src/js"]
    }]
  ]
}