@import url('https://fonts.googleapis.com/css?family=Barlow:400,600|Roboto:400,400i');

@import "./_variables";
@import "./_mixins";

html, body {
    margin: 0;
    background-color: $color-gray-lightest;
    color: $color-base;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a {
    color: $color-primary;
    text-decoration: none;
    &:hover, &:active {
        text-decoration: underline;
    }
}
